<!DOCTYPE html>

<html>
	<head>
		<title>mpengs panel menu</title>
	</head>

	<body>
		<h3>Welcome {{username}}! Select panel:</h3>
		<a href="/logout">Logout</a>

		<ul>
			<li><a href="/panel/people">People Panel</a></li>
			<li><a href="/panel/index">Index Panel</a></li>
			<li><a href="/panel/career">Career Panel</a></li>
			<li><a href="/panel/applicant">Applicant Panel</a></li>
			<li><a href="/panel/office">Office Panel</a></li>
			<li><a href="/panel/about">About Panel</a></li>
		</ul>
	</body>
</html>
