 <!-- Primary Meta Tags -->
<title>MP Engineers and Architects</title>
<meta name="title" content="MP Engineers and Architects">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.mpengs.nyc/">
<meta property="og:title" content="MP Engineers and Architects">
<meta property="og:description" content="">
<meta property="og:image" content="/images/logo.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.mpengs.nyc/">
<meta property="twitter:title" content="MP Engineers and Architects">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="/images/logo.png">

