
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">MPENGS</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/logout">Logout</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">

        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/panel/index">
              <span data-feather="file-text"></span>
	      Index Panel
            </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/administrator/projects_panel">
              <span data-feather="file-text"></span>
	      Projects Panel
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrator/viewcareer">
              <span data-feather="file-text"></span>
	      Career Panel
            </a>
          </li>  
            <li class="nav-item">
            <a class="nav-link" href="/administrator/applicants">
              <span data-feather="file-text"></span>
	      Applicant Panel
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel/people">
              <span data-feather="file-text"></span>
	      People Panel
            </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/administrator/office_panel">
              <span data-feather="file-text"></span>
	      Office Panel
            </a>
          </li>  

          <li class="nav-item">
            <a class="nav-link" href="/administrator/about/edit">
              <span data-feather="file-text"></span>
              About Panel
            
            </a>
        </li>
	</ul>
      </div>
    </nav>
