<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/home_page/styletest.css">
	<link rel="stylesheet" type="text/css" href="/css/home_page/ionicon.min.css">
	<link rel="stylesheet" type="text/css" href="/css/home_page/headertest.css">
	<link rel="stylesheet" type="text/css" href="/css/home_page/slider.css">
	<!-- Primary Meta Tags -->
<title>MP Engineers and Architects</title>
<meta name="title" content="MP Engineers and Architects">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.mpengs.nyc/">
<meta property="og:title" content="MP Engineers and Architects">
<meta property="og:description" content="">
<meta property="og:image" content="images/logo.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.mpengs.nyc/">
<meta property="twitter:title" content="MP Engineers and Architects">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="images/logo.png">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="slideOne">
	<!--	{{>header}}-->
	{{> new_header}}
<!-- Section: Main -->
<main class="main">
<div class="page-wrap">
	<div id="home-slider">		
		<div class="slider-container" >
			<div class="left-slide" id="left-slide">
				<div class="pic" data-bgcolor="slideOne">
					<img src="images/old_index/1_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/1_a_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic" data-bgcolor="slideTwo">
					<img src="images/old_index/2_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/2_a_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic" data-bgcolor="slideThree">
					<img src="images/old_index/3_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/3_a_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic" data-bgcolor="slideFour">
					<img src="images/old_index/4_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/4_a_mobile.jpg" class="mobileView" />
				</div>
			</div>
			<div class="right-slide" id="right-slide">
				<div class="pic">
					<img src="images/old_index/1_b_desktop.jpg" class="desktopView" />
					<img src="images/old_index/1_b_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic">
					<img src="images/old_index/2_b_desktop.jpg"  class="desktopView" />
					<img src="images/old_index/2_b_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic">
					<img src="images/old_index/3_b_desktop.jpg"  class="desktopView" />
					<img src="images/old_index/3_b_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic">
					<img src="images/old_index/4_b_desktop.jpg"  class="desktopView" />
					<img src="images/old_index/4_b_mobile.jpg" class="mobileView" />
				</div>				
			</div>
		</div>		
	</div>
</div>

</main>

</body>

<script src="/js/home_page/slider.js"></script>
</script>
</html>
