/* @-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
} */

.header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 10px 0; */
    margin: 0 auto;
    z-index: 999;
    border: none;
    outline: none;
    height: 62px;
    /* -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.4s ease;
 		transition: all 0.4s ease; */
}

.brand {
    border: none;
    outline: none;
    transition: transform .15s, fill .15s;
}

.brand img {
    height: 40px;
}


/* header.sticky {
  height: 65px;
  padding: .5rem 0;
  -webkit-transition: all 0.4s ease;
 		transition: all 0.4s ease;
} */

.header.sticky .brand img {
    /* height: 40px; */
    transform: scale(.85);
    transform-origin: 0 50%;
}

.header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
}

.header-item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.header-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-item-right .menu-icon {
    font-size: 1.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    color: #121212;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header .menu>ul>li>a i.ion {
    display: none;
}

.menu-column-12>.list-item img.responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    /* margin-top: 0.75rem; */
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}

.ddmenuLeft {
    text-align: left;
    width: 33%;
}

.ddmenuRight {
    text-align: left;
    width: 67%;
    display: flex;
}

.ddImage {
    width: 40%;
}

.ddContent {
    width: 60%;
    color: #000;
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
}

.ddLink {
    color: #146f9c;
}

.menu-mobile-header,
.menu-mobile-trigger {
    display: none;
}

ul.menu {
    padding: 0;
    display: flex;
    height: 62px;
}

ul.menu .list {
    display: inline-block;
    line-height: 4rem;
    /* margin-left:  .5rem; */
}


/* ul.menu .list:hover {
  background-color: #fff;
  color: #17739c;
} */

ul.menu .list a {
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.8rem;
    border: none;
    outline: none;
    color: #fff;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ul.menu .list:hover a {
    color: #17739c !important;
    background-color: #fff;
}

#hover a {
    color: #17739c !important;
    background-color: #fff;
}

/* ul.menu .list:hover>a::after {
  opacity: 1;
}

ul.menu .list>a::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, .8);
  content: "";
  display: block;
  height: 0;
  margin-left: -10px;
  opacity: 0;
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 0;
  z-index: 9;
}
header.sticky ul.menu .list>a::after {
  bottom: -2px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
} */

header.sticky ul.menu .list:hover a+.items {
    margin-top: 0rem;
}

ul.menu .list .items {
    display: none;
    overflow: hidden;
}

.menu-column-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 1.25rem 1rem; */
}

ul.menu .list .items a {
    padding: 5px 0;
    line-height: normal;
    height: inherit;
}

ul.menu .list a i.ion {
    display: none;
}

ul.menu .list .items a:hover {
    color: #146f9c;
}

ul.menu .list:last-child {
    border-bottom: none;
}

ul.menu .active>.items li:last-child {
    border-color: transparent;
    padding-bottom: 0px;
}


/* ul.menu .list:hover>a::after {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

ul.menu .list>a::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #146f9c;
  content: "";
  display: block;
  height: 0;
  margin-left: -10px;
  opacity: 0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  z-index: 9;
} */

.menu-column-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 1.25rem 1rem; */
}


/* ul.menu .list .items {
  display: none;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
} */

ul.menu .list:hover a+.items {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    /* margin: .4rem 0 0; */
    padding: 1rem 5%;
    border: none;
    outline: none;
    /* z-index: 1; */
    /* opacity: 1; */
    left: 0;
    /* border-radius: 0.25rem; */
    /* border-top: 3px solid #146f9c; */
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

ul.menu .list .items a {
    padding: 5px 0;
    line-height: normal;
    height: inherit;
    color: #000;
}

ul.menu .list a i.ion {
    display: none;
}

ul.menu .list .items a:hover {
    color: rgba(0, 0, 0, 0.8);
}

ul.menu .list:last-child {
    border-bottom: none;
}

ul.menu .active>.items li:last-child {
    border-color: transparent;
    padding-bottom: 0px;
}

@media only screen and (max-width: 992px) {
    .container {
        /* padding: 0 1rem; */
        margin: 0 auto;
    }
    .header {
        padding: 10px 0;
    }
    .header-item-center {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .header-item-left,
    .header-item-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header .menu-mobile-trigger {
        position: relative;
        display: block;
        cursor: pointer;
        width: 1.75rem;
        height: 1rem;
        border: none;
        outline: none;
        background: none;
    }
    .header .menu-mobile-trigger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border: none;
        outline: none;
        opacity: 1;
        border-radius: 0.25rem;
        background: #fff;
    }
    .header .menu-mobile-trigger span {
        transition: all 0.3s ease;
    }
    .header .menu-mobile-trigger span:nth-child(1) {
        top: 0;
    }
    .header .menu-mobile-trigger span:nth-child(2) {
        top: 0.5rem;
    }
    .header .menu-mobile-trigger span:nth-child(3) {
        top: 1rem;
    }
    .header .menu-mobile-trigger.activeMenu span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .header .menu-mobile-trigger.activeMenu span:nth-child(2) {
        transition: all 0.7s ease;
        width: 0;
    }
    .header .menu-mobile-trigger.activeMenu span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .header-item-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: calc(100% - 62px);
        background: rgba(255, 255, 255, 1);
        margin-top: 62px;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        /* -webkit-transition: all .8s ease;
    transition: all .8s ease;
    pointer-events: none; */
        /* display: none; */
        overflow-y: auto;
    }
    .header.sticky .menu {
        height: calc(100% + 55px);
        margin-top: 55px;
    }
    .header .menu.active {
        opacity: 1;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
        pointer-events: all;
        visibility: visible;
        /* display: block; */
    }
    .header .menu>ul>li {
        display: block;
        line-height: 1;
        margin: 0;
    }
    .active>.items {
        display: block !important;
    }
    ul.menu .list {
        opacity: 0;
    }
    ul.menu .list:nth-child(1) {
        transition-delay: .05s;
    }
    ul.menu .list:nth-child(2) {
        transition-delay: .1s;
    }
    ul.menu .list:nth-child(3) {
        transition-delay: .15s;
    }
    ul.menu .list:nth-child(4) {
        transition-delay: .2s;
    }
    ul.menu .list:nth-child(5) {
        transition-delay: .25s;
    }
    ul.menu .list:nth-child(6) {
        transition-delay: .3s;
        margin: 0;
    }
    ul.menu .list:nth-child(7) {
        transition-delay: .35s;
        margin: 0;
    }
    ul.menu .list.fade {
        opacity: 1;
    }
    ul.menu.active .list {
        transform: none;
    }
    .header .menu .menu-section {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
    .ddmenuLeft {
        width: 100%;
    }
    .ddmenuRight {
        display: none;
    }
    ul.menu .list {
        margin: 5px 0;
        width: 100%;
        transform: translateY(3.75rem);
        transition: transform .85s cubic-bezier(.66, 0, .33, 1), opacity .85s;
    }
    ul.menu .list>a::after {
        display: none;
    }
    ul.menu .list:hover>a::before {
        opacity: 1;
        transform: translateX(10px);
    }
    ul.menu .list>a::before {
        background-color: #146f9c;
        content: "";
        height: 60%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 19%;
        transform: translateX(-30px);
        transform-origin: center center;
        transition: opacity .3s, transform .3s;
        width: 2px;
    }
    ul.menu .list a {
        padding: 10px 60px 10px 16px;
        /* border-bottom: solid 1px rgba(0, 0, 0, 0.1); */
        line-height: normal;
        height: inherit;
        font-size: 1rem;
        transition: .2s;
        color: #084d80;
    }
    ul.menu .list a:hover {
        color: rgba(0, 0, 0, 0.8);
    }
    ul.menu .list .items a,
    ul.menu .list .items a:hover {
        padding: 10px 16px;
        color: rgba(0, 0, 0, 0.8);
    }
    ul.menu .list:hover a+.items {
        position: relative;
        padding: 0;
        display: none;
        margin-top: 0;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
    }
    ul.menu .list a i.ion {
        display: block;
        position: absolute;
        font-size: 1.25rem;
        line-height: 30px;
        text-align: center;
        top: 50%;
        right: 0px;
        width: 60px;
        height: 30px;
        transform: translateY(-50%);
    }
    ul.menu .list.active a i.ion {
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
    }
}
